body {
    width: 1160px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: #782221;
    color: white;
    padding: 10px;
    flex-direction: row;
}

a {
    color: white;
    text-decoration: none;
}

header > figure > img {
    height: 150px;
    width: 150px;
    display: flex;
    border-radius: 50%;
    position: relative;
    left: 460px;
}

header > h1 {
    display: flex;
    justify-content: center;
}

header > h3 {
    display: flex;
    justify-content: center;
}

address {
    display: flex;
    justify-content: space-between;
    background-color: #2c1d27;
    padding: 25px;
}

.sidebar {
    background-color: #782221;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    color: white;
}

.title__left {
    background-color: #dbc2a4;
    width: 250px;
    color: black;
    padding-left: 20px;
}

#about > p {
    text-indent: 25px;
    padding-left: 20px;
}

#interest {
    height: 550px;
}